root = true

[*]
  charset = utf-8
  end_of_line = lf
  indent_size = 2
  indent_style = space
  insert_final_newline = true
  trim_trailing_whitespace = true

[*.cs]
  dotnet_diagnostic.ide0007.severity = none
  dotnet_diagnostic.ide0008.severity = none
  dotnet_diagnostic.ide0044.severity = none
  dotnet_diagnostic.ide0051.severity = none
  dotnet_diagnostic.ide0090.severity = none
  indent_size = 4

[*.md]
  trim_trailing_whitespace = false

[*.asset]
  trim_trailing_whitespace = false
